<div class="top">
  <div class="rel">
    <div class="border"></div>
    <div class="logo">
      <a href="http://asutp.io/" title="asutp.io">asutp.io</a></div>
    <div class="search">
      <div class="sg">
        <div class="sf">
          <div class="rel">
            <div class="sbx">
            </div>
            <div class="so"><span class="arrow-down"></span>
            </div>
          </div>
        </div>
        <div class="sb">
        </div>
      </div>
      <div class="reflow"></div>
    </div>
    <div class="user">
      <div class="photo">Фото</div>
      <span class="name">Оператор Имя Отчество</span><span class="arrow-down"></span>
    </div>
  </div>
</div>
<div class="main">
  <div class="rel">
    <div class="side">
      <div class="border"></div>
      <div class="button">СОЗДАТЬ</div>
      <div class="view active">Входящие (3)</div>
      <div class="view">Аварии</div>
      <div class="view update">Неисправности (1)</div>
      <div class="view">Архив</div>
    </div>
    <div class="asutp">
      <div class="border">
        <div class="tools">
          <div class="button op"></div>
          <div class="button op"></div>
          <div class="setup menu">
              <div class="button"><span class="icon-cog"></span><span class="icon-arrow-down4"></span></div>
              <div class="dropdown">
                <div>a</div>
                <div>b</div>
              </div>
          </div>
          <div class="pager">
            <div class="page"><b>1</b>–<b>25</b> из <b>78</b></div>
            <div class="button left">
              <span class="icon-arrow-left4"></span>
            </div>
            <div class="button right">
              <span class="icon-arrow-right4"></span>
            </div>
          </div>
        </div>
        <div class="reflow"></div>
      </div>
      <div class="rel client">
        <div class="keys">
          <table class="keys">
            <tbody>
              <tr class="keys">
                <td class="left active">
                  <div class="label">Объекты</div>
                </td>
                <td class="center">
                  <div class="label">Устройства</div>
                </td>
                <td class="center">
                  <div class="label">Системы</div>
                </td>
                <td class="right">
                </td>
                <td class="blank">
                </td>
              </tr>
            </tbody>
          </table>
          <div class="reflow"></div>
        </div>
        <div class="data">
          <table class="data">
            <colgroup>
              <col class="check"/>
              <col class="led"/>
              <col class="sender"/>
              <col class="mark"/>
              <col class="text"/>
              <col class="spare"/>
              <col class="date"/>
            </colgroup>
            <tbody>
              <tr>
                <td class="check">
                  <div class="check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="date">
                  <span>время/дата</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="reflow"></div>
        </div>
        <div class="footer">
          <div class="left">&nbsp;
          </div>
          <div class="center">
            <span>©2013 ЭлектроПлюс </span>
            -
            <a target="_blank" href="https://www.gnu.org/licenses/quick-guide-gplv3.ru.html">AGPL v3</a>
          </div>
          <div class="right">&nbsp;
          </div>
        </div>
        <div class="reflow">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
