        <div class="tp-data">
          <table class="tp-data">
            <colgroup>
              <col class="tp-check"/>
              <col class="tp-led"/>
              <col class="tp-sender"/>
              <col class="tp-mark"/>
              <col class="tp-text"/>
              <col class="tp-spare"/>
              <col class="tp-date"/>
            </colgroup>
            <tbody>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
              <tr>
                <td class="tp-check">
                  <div class="tp-check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="tp-sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="tp-details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="tp-date">
                  <span>время/дата</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
