<div class="top">
  <div class="rel">
    <div class="border"></div>
    <div class="logo">
      <a href="http://asutp.io/" title="asutp.io">asutp.io</a></div>
    <div class="search">
      <div class="sg hide">
        <div class="sf">
          <div class="rel">
            <div class="sbx">
            </div>
            <div class="so"><span class="arrow-down"></span>
            </div>
          </div>
        </div>
        <div class="sb">
          <span class="icon-search"></span>
        </div>
      </div>
      <div class="reflow"></div>
    </div>
    <div class="user">
      <div class="photo">Фото</div>
      <span class="name">Оператор Имя Отчество</span><span class="arrow-down"></span>
    </div>
  </div>
</div>
<div class="main">
  <div class="rel">
    <div class="side">
      <div class="border"></div>
      <div class="none button">СОЗДАТЬ</div>
      <div class="view active">Мониторинг</div>
      <div class="view">Пользователи</div>
      <div class="view">Устройства</div>
    </div>
    <div class="asutp">
      <div class="border">
        <div class="reflow"></div>
      </div>
      <div class="rel client">
        <div class="data">
          <table class="data">
            <colgroup>
              <col class="check"/>
              <col class="led"/>
              <col class="sender"/>
              <col class="mark"/>
              <col class="text"/>
              <col class="spare"/>
              <col class="date"/>
            </colgroup>
            <tbody>
              <tr>
                <td class="check">
                  <div class="check"></div>
                </td>
                <td><!-- LED icon goes here --></td>
                <td class="sender">
                  <span>Название объекта</span>
                </td>
                <td></td>
                <td>
                  <span>Состояние</span>
                  <span class="details"> - пояснение</span>
                </td>
                <td>
                </td>
                <td class="date">
                  <span>время/дата</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="reflow"></div>
        </div>
        <div class="footer">
          <div class="left">&nbsp;
          </div>
          <div class="center">
            <span>©2014 ЭлектроПлюс </span>
            -
            <a target="_blank" href="https://www.gnu.org/licenses/quick-guide-gplv3.ru.html">AGPL v3</a>
          </div>
          <div class="right">&nbsp;
          </div>
        </div>
        <div class="reflow">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
