// views/_header.jade -- header partial
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

header.navbar
  .navbar-header
    a.navbar-brand(href='/') asutp.io
  nav.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      li
        a(href='#') Оператор Имя Отчество
