// views/_main.jade -- main application layout fragment
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

  .tp-main.row
    .col-xs-4.col-md-2.col-xl-2.tp-sidebar
      ul.nav.tp-menu-side
        li.active
          a(href='#') Устройства
        li
          a(href='#') Apхив
        li
          a(href='#') Пользователи
    .col-xs-12.col-md-10.col-xl-14.tp-content
      block content
      .tp-footer
        .tp-left &nbsp;
        .tp-center
          span ©2014 ЭлектроПлюс
          |  - 
          a(href='https://www.gnu.org/licenses/quick-guide-gplv3.ru.html', target='_blank') AGPL-3.0
        .tp-right &nbsp;

//- vim:ts=2 sts=2 sw=2 et:
