<!-- app/views/devices/show.html.erb - display and edit a device
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% provide(:title, @device.name) %>
<% content_for :device_class, "active" %>
<% content_for :sidebar do %>
  <% if current_user.admin? %>
    <li>
    <%= link_to (t 'devices.new.link'), new_device_path,
      class: "btn btn-sm btn-danger" %>
    </li>
  <% end %>
<% end %>


<div class="row">
  <div class="col-xs-8 col-lg-4 tp-user">
    <%= render @device %>
  </div>
  <div class="col-lg-8">
    <table class="tp-data">
      <colgroup>
        <col class="tp-fulldate"/>
        <col class="tp-mark"/>
        <col class="tp-text"/>
      </colgroup>
      <tbody>
      <% @states.each do |state| %> 
        <tr>
        <td class="tp-fulldate">
          <%= state.stamp.strftime('%b %d %H:%M:%S') %>
        </td>
        <td>
        </td>
        <td>
          <%= state.content %>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- vim:set ts=2 sts=2 sw=2 et: -->
