<div class="row">
  <div class="col-lg-6 tp-user">
    <form name="deviceForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-hdd"></span></label>
        <label for="name" class="control-label hidden">Название</label>
        <div class="col-sm-9">
          <input id="name" name="name" type="text" ng-model="device.name" placeholder="Название" class="form-control input-lg">
        </div>
      </div>
      <button name="submit" class="btn btn-sm btn-primary" ng-disabled="deviceForm.$pristine" ng-click="save()">{{(device._id) ? 'Изменить' : 'Сохранить'}}</button>
    </form>
  </div>
  <div class="col-lg-6 tp-user">
    <form name="stateForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label for="date" class="control-label col-sm-3">Дата</label>
        <div class="col-sm-9">
          <label class="control-label" id="date">
            {{moment(state.stamp).fromNow()}}
          </label>
        </div>
      </div>
      <div class="form-group" ng-repeat="output in state.outputs">
        <label for="{{output.name}}" class="control-label col-sm-3">{{output.name}}</label>
        <div class="col-sm-9">
          <label class="control-label" id="{{output.name}}">
            {{output.value}}
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
