<div class="row">
  <div class="col-lg-5 tp-user" ng-if="operator.admin">
    <form name="deviceForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group" ng-class="deviceForm.name.$dirty && deviceForm.name.$invalid && 'has-error'">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-hdd"></span></label>
        <label for="name" class="control-label hidden">Название</label>
        <div class="col-sm-9">
          <input id="name" name="name" type="text" ng-model="device.name" placeholder="Название" class="form-control input-lg" required ng-maxlength="50">
          <div ng-show="deviceForm.name.$dirty && deviceForm.name.$invalid">
            <label class="help-block" for="name" ng-show="deviceForm.name.$error.required">Это поле обязательно для заполнения</label>
            <label class="help-block" for="name" ng-show="deviceForm.name.$error.maxlength">Это поле содержит больше 50-ти символов</label>
          </div>
        </div>
      </div>
      <button name="submit" class="btn btn-sm btn-primary" ng-disabled="deviceForm.$pristine" ng-click="save()">{{(device._id) ? 'Изменить' : 'Сохранить'}}</button>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="col-lg-5 tp-user" ng-if="!operator.admin">
    <form name="deviceForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-hdd"></span></label>
        <label for="name" class="control-label hidden">Название</label>
        <div class="col-sm-9">
          <p class="form-control-static input-lg">
            {{device.name}}
          </p>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="col-lg-3 tp-user">
    <form name="stateForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label for="date" class="control-label col-sm-4">Состояние</label>
        <div class="col-sm-8">
          <p class="form-control-static" id="date">
            {{moment(state.stamp).calendar()}}
          </p>
        </div>
      </div>
      <div class="form-group" ng-repeat="(key, value) in state.outputs">
        <label for="{{key}}" class="control-label col-sm-4">{{key}}</label>
        <div class="col-sm-8">
          <p class="form-control-static" id="{{key}}">
            {{value}}
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-4 tp-user">
    <form name="setpointForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label for="date" class="control-label col-sm-4">Уставки</label>
      </div>
      <div class="form-group" ng-repeat="(key, value) in setpoints">
        <label for="{{key}}" class="control-label col-sm-4">{{key}}</label>
        <div class="col-sm-8">
          <p class="form-control-static" id="{{key}}">
            {{value}}
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
