<div class="row">
  <div class="col-lg-5 tp-user" ng-if="operator.admin">
    <form name="siteForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-home"></span></label>
        <label for="name" class="control-label hidden">Название</label>
        <div class="col-sm-9">
          <input id="name" name="name" type="text" ng-model="site.name" placeholder="Название" class="form-control input-lg">
        </div>
      </div>
      <button name="submit" class="btn btn-sm btn-primary" ng-disabled="siteForm.$pristine" ng-click="save()">{{(site._id) ? 'Изменить' : 'Сохранить'}}</button>
    </form>
  </div>
  <div class="col-lg-5 tp-user" ng-if="!operator.admin">
    <form name="siteForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-home"></span></label>
        <label for="name" class="control-label hidden">Название</label>
        <div class="col-sm-9">
          <p class="form-control-static input-lg">
            {{site.name}}
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="tp-data col-lg-7">
    <table class="tp-data">
      <colgroup>
        <col class="tp-check">
        <col class="col-xs-6 col-sm-4">
        <col class="col-xs-4 col-sm-3">
        <col class="tp-text">
      </colgroup>
      <tbody>
      <tr ng-repeat="system in systems">
        <td class="tp-check">
          <div class="tp-check"></div>
        </td>
        <td class="tp-sender">
          <a href="#/sites/{{site._id}}/systems/{{system._id}}">{{system.name}}</a>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="clearfix"></div>
  </div>
</div>
