<div class="row tp-user">
  <div class="col-lg-6">
    <form name="siteForm" accept-charset="UTF-8" class="form-horizontal">
      <div class="form-group">
        <label class="tp-photo control-label col-sm-3"><span class="glyphicon glyphicon-home"></span></label>
        <label for="name" class="control-label hidden">Название</label>
        <div class="col-sm-9">
          <input id="name" name="name" type="text" ng-model="site.name" placeholder="Название" class="form-control input-lg">
        </div>
      </div>
      <button name="submit" class="btn btn-sm btn-primary" ng-disabled="siteForm.$pristine" ng-click="save()">{{(site._id) ? 'Изменить' : 'Сохранить'}}</button>
    </form>
  </div>
</div>
