<div class="tp-data">
  <table class="tp-data">
    <colgroup>
      <col class="tp-check">
      <col class="col-xs-6 col-sm-4 col-xl-3">
      <col class="col-xs-4 col-sm-3 col-xl-2">
      <col class="tp-text">
    </colgroup>
    <tbody>
    <tr ng-repeat="user in users">
      <td class="tp-check">
        <div class="tp-check"></div>
      </td>
      <td class="tp-sender">
        <a href="#/users/{{user._id}}">{{user.name}}</a>
      </td>
      <td>
        <span>{{user.email}}</span>
      </td>
      <td>
        <span ng-if="user.admin" class="label label-danger">Администратор</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="clearfix"></div>
</div>
