<!-- app/views/states/index.html.erb
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% provide(:title, "#{t '.title'} #{@device.name}") %>
<% content_for :state_class, "active" %>
<% content_for :toolbar do %>
<div class="pull-right">
  <%= paginate @states %>
</div>
<% end %>
<label class="input-lg">
  <%= @device.name %>
</label>
<div class="tp-data">
  <table class="tp-data">
    <colgroup>
      <col class="tp-check"/>
      <col class="tp-fulldate"/>
      <col class="tp-mark"/>
      <col class="tp-text"/>
    </colgroup>
    <tbody>
      <% @states.each do |state| %> 
        <tr>
          <td class="tp-check">
            <div class="tp-check"></div>
          </td>
          <td class="tp-fulldate">
            <%= state.stamp.strftime('%b %d %H:%M:%S') %>
          </td>
          <td>
          </td>
          <td>
            <%= state.content %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
