// views/sessions/new.jade -- signin page
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

extends ../layout


block main
  header.banner-signin
    a.navbar-brand(href='/') asutp.io
  .container
    h2.form-signin-heading.text-center Please sign in to proceed
    form(method='post', action='/signin', accept-charset="UTF-8").form-signin
      label(for='email').hidden Email
      input(id='email', name='email', type='text', placeholder='Email').form-control
      - var passwordClass = ''
      - if (errors)
        - if (errors['password']) passwordClass += ' has-error'
      div(class='form-group#{passwordClass}')
        label(for='password').hidden Password
        input(name='_csrf', value=csrf, type='hidden')
        input(id='password', name='password', type='password',
          placeholder='Password').form-control
        if passwordClass !== ''
          each error in errors['password']
            label(for='password').help-block= error
        input(type='submit',name='submit',value='Sign in').btn.btn-lg.btn-primary.btn-block
  include ../_footer

//- vim:ts=2 sts=2 sw=2 et:
