// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$screen-xl-min: 1600px;

$screen-lg-max: ($screen-xl-min - 1);

@import 'bootstrap-custom';

@media (min-width: $screen-xl-min) {
@include make-grid($grid-columns, xl, width);
}


html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden !important;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: arial,sans-serif;
}

header.navbar {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 15px;
  background: #f1f1f1;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  border-bottom: 1px solid #e5e5e5;
}

header .nav {
  font-size: 13px;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  font: 36px/48px Times New Roman,serif;
  font-weight: bold;
  color: #008000;
  padding: 0px 15px;
}

.tp-main {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 94px;
  overflow-y: scroll;
  border-top: 1px solid #e5e5e5;
}

.tp-main.row {
  margin-left: 0px;
  margin-right: 0px;
}

.tp-sidebar {
  padding: 0px;
  margin-bottom: 15px;
}

.tp-sidebar .nav > li > a {
  height: 2.5ex;
  border-left: 4px solid transparent;
  padding: 1px 4px 1px 27px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-size: 80%;
}

.tp-sidebar .nav > .active > a {
  border-left-color: #dd4b39;
  color: #dd4b39;
  font-weight: bold;
}

.tp-content {
  padding-right: 15px;
}

@media (min-width: $screen-md-min) {
  .tp-main {
    overflow-y: hidden;
  }

  .tp-content {
    height: 100%;
    overflow-y: scroll;
    padding-left: 0px;
  }
}

.tp-data {
  margin-top: -1px;
}

table.tp-data {
  table-layout: fixed;
  border-spacing: 0px;
  width: 100%;
  border-collapse: collapse;
  padding: 0px;
}

table.tp-data col.tp-check {
  width: 30px;
}

table.tp-data col.tp-led {
  width: 24px;
}

table.tp-data col.tp-sender {
  width: 200px;
}

table.tp-data col.tp-mark {
  width: 2ex;
}

table.tp-data col.tp-text {
}

table.tp-data col.tp-spare {
  width: 25px;
}

table.tp-data col.tp-date {
  width: 10ex;
}

table.tp-data tr {
  border-left: 2px solid rgba(243,243,243,.85);
  background:rgba(243,243,243,.85);
  color:#222
}

table.tp-data tr:hover {
  border-left: 2px dotted #cdcdcd;
}

table.tp-data td {
  height: 3.9ex;
  padding: 3px 0px;
  border-bottom: 1px #e5e5e5 solid;
  font-size: 80%;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

div.tp-check {
  width: 13px;
  height: 13px;
  border: 1px solid rgba(155, 155, 155, 0.57);
  margin-left: 9px;
  vertical-align: text-bottom;
  position: relative;
  display: inline-block;
}

table.tp-data td.tp-check {
  padding: 3px 0px 1px;
}

table.tp-data td.tp-sender {
  padding: 3px 0px;
  padding-right: 6px;
  padding-left: 10px;
}

.tp-details {
  color: #777;
}

table.tp-data td.tp-date {
  padding: 3px 8px;
  padding-right: 20px;
  text-align: right;
}

.tp-footer {
  padding-bottom: 180px;
  padding-top: 15px;
}

.tp-footer div {
  float: left;
  width: 33.3%;
  font-size: 70%;
  color: #777;
}

.tp-footer .tp-left {
  text-align: left;
}

.tp-footer .tp-center {
  text-align: center;
}

.tp-footer .tp-right {
  text-align: right;
}

/* vim:set sw=2 sts=2 ts=2 et: */
