<!-- app/views/layouts/_footer.html.erb - footer partial
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<div class="clearfix tp-footer">
  <div class="tp-left">&nbsp;
  </div>
  <div class="tp-center">
    <span>©2014 ЭлектроПлюс </span>
    -
    <a target="_blank" href="https://www.gnu.org/licenses/quick-guide-gplv3.ru.html">AGPL v3</a>
  </div>
  <div class="tp-right">&nbsp;
  </div>
</div>
<%= debug(params) if Rails.env.development? %>
