<!-- app/views/layouts/_header_signin.html.erb - header partial for signin page
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<header class="banner-signin">
  <a class="navbar-brand" href="/">asutp.io</a>
</header>
